@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");

html {
    min-height: 100%;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
  }

  hr{
      margin: 80px 0;
  }

  ul{
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .navbar{
      width: 100%;
      height: 60px;
      background-color: #FFFFFF;
  }

  #navbarul {
    padding: 2px 15px;
    margin: 0 0;
  }

  #navbarul li {
    float: left;
    margin: 3px 25px 0 0;
  }

  #navbarul a{
    color: #353646;
    font-size: 1.3em;
    text-shadow: 0 0 0.5px #b3b3b3;
  }

  #navbarul p{
      margin: 9px 0 0 0;
  }

  iframe{
      margin: 15px 0 0 0;
      z-index: 5;
  }

  .logoimg{
      width: 51px;
      height: 50px;
      background-image: url("./image/albatalklogo.png");
  }



  .mainbox {
      width: 100%;
      height: 350px;
      background-color: #DCDCDC;
  }

  .mainbox h1{
      font-size: 300%;
      color: #353646;
      margin: 0;
      padding: 60px 0 40px 60px;
  }

  .mainbox p{
      font-size: 1.1em;
      margin: 0;
      padding: 0 0 6px 60px;
  }

  .screenshotimg{
      position: absolute;
      right: 60px;
      top: 70px;
      width: 290px;
      height: 330px;
  }



  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 15px 20px;
  }

  .about{
      background-color: #FFFFFF;
      height: 350px;
      margin: 50px 0 0 0;
  }

  .container h1{
      margin: 0 0 30px 0;
  }

  .textcontainer{
      background-color: #FFFFFF;
      width: 85%;
      height: auto;
      margin: 15px auto 50px auto;
  }
  
  .textcontainer p{
      margin: 0 0 6px 0;
  }



  .howtouse{
      width: 100%;
      height: 4600px;
      background-color: white;
  }

  .howtouseleft{
      float: left;
      width: 50%;
      height: 250px;
      background-color: white;
      margin: 0 auto;
  }

  .howtouseleft h2{
      margin: 15px 30px 30px 15px;
  }

  .howtouseleft .textcontainer{
      margin: 0 50px;
  }

  .howtouseright{
      float: left;
      width: 50%;
      height: 250px;
      background-color: white;
      margin: 0 auto;
      text-align: center;
  }

  #firstimg{
      margin: 20px auto;
  }

  #secondimg{
      margin: 20px auto;
  }

  #thirdimg{
      margin: 0 auto;
      width: 322px;
      height: 500px;
      box-shadow: 1px 1px 4px 2px #BBBBBB;
      border-radius: 2px
  }

  #fourthimg{
      width: 380px;
      height: 740px;
      margin: 0 auto;
      box-shadow: 1px 1px 4px 2px #BBBBBB;
      border-radius: 3px
  }

  #fifthimg{
    margin: 30px auto;
  }

  #sixthimg{
    width: 350px;
    height: 543px;
    margin: 10px auto;
    border-radius: 3px;
    box-shadow: 1px 1px 4px 2px #BBBBBB;
  }

  #eighthimg{
      width: 400px;
      height: 532px;
      margin: 10px auto;
      border-radius: 3px;
      box-shadow: 1px 1px 4px 2px #BBBBBB;
  }

  #ninethimg{
    width: 358px;
    height: 554px;
    margin: 10px auto;
    border-radius: 3px;
    box-shadow: 1px 1px 4px 2px #BBBBBB;
}

  #thirdstep{height: 570px;}
  #fourthstep{height: 820px;}
  #fifthstep{height: 310px;}
  #sixthstep{height: 620px;}
  #seventhstep{height: 620px;}
  #eighthstep{height: 620px;}
  #ninethstep{height: 630px;}



  .FAQ{
      width: 100%;
      height: 300px;
      background-color: #FFFFFF;
  }

  .FAQcontainer{
      margin: 50px auto;
  }

  .FAQli{
      width: 80%;
      height: 50px;
      border-radius: 3px;
      box-shadow: 1px 1px 4px 2px #BBBBBB;
      margin: 10px auto;
  }

  .FAQli p{
      padding: 10px 0 0 20px;
      font-size: 1.25em;
  }


  .teaminfo{
      width: 100%;
      height: 470px;
      background-color: #FFFFFF;
  }

  .teaminfoul{
      text-align: center;
  }

  .teaminfoul li{
      display: inline-block;
      margin: 0 30px 0 0;
  }

  .profileimg{
      width: 100px;
      height: 100px;
      margin: 0 auto;
  }

  .profileimg img{
      max-width: 100px;
      border-radius: 50px;
  }

  .cometogit{
      margin: 50px auto;
      height: 100px;
      text-align: center;
  }



  footer{
      width: 100%;
      height: 150px;
      background-color: #353646;
      text-align: center
  }

  footer p{
      color: #ffffff;
      padding: 50px 0;
      margin: 0;
  }



  .square {
    width: 100px;
    height: 700px;
    background-color: #B121FA;
}


  @media screen  and (max-width:559px) {    /* 미디어쿼리 영역 페이지 크기가 570px 이하일 때 */
  
    .square {
        background-color: #B1FF22;
    }
}